{{page-title "Tables & Loops"}}

<div class="container">
  <h1>Task: Tables &amp; Loops</h1>

  <p>Please complete the following table - displaying all the fields in the header.</p>

  <p>A few hints:</p>

  <ul>
    <li>This page uses the decedent model.</li>
    <li>You can access the page models by using <a href="https://guides.emberjs.com/release/routing/specifying-a-routes-model/#toc_using-the-model-hook">@model</a>.</li>
    <li>You will need to use a <a href="https://guides.emberjs.com/release/components/looping-through-lists/">handlebars each loop</a>.</li>
    <li>For the extra credit you will need to use the PhoneRevealer <a href="https://guides.emberjs.com/release/components/introducing-components/">component</a>.</li>
  </ul>

  <h2>Cases</h2>

  <table class="table table-striped">
    <thead>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Location</th>
      <th scope="col">Next of Kin</th>
      <th scope="col">NOK Phone #</th>
    </thead>
    <tbody>
      {{!-- Write your code here --}}
    </tbody>
  </table>
</div>